streamlit
pandas
pandas-ta
scikit-learn
pyarrow
ib_insync
python-dotenv
requests
openai
yfinance
plotly
pytrends
vectorbt
fredapi
praw
nest-asyncio
numpy
matplotlib
aiohttp
lightgbm
catboost
pytorch-tabnet